<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Tutor App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
</head>
</head>

<body>
    <header>
            <nav>
                <a href="{{ url_for('index') }}">Python Tutor App</a>
            </nav>
        </header>
        <main>
            <article>
                <section>
    <h2>Question</h2>
    <form action="{{ url_for('index') }}" method="post">
        <div>
            <textarea name="question" cols="60" rows="6" maxlength="300" required>{{ old_question }}</textarea>
        </div>
                        <div class="submit-btn">
            <button type="submit" name="submit" value="ask">Ask</button>
                </div>
        </form>
        </section>
        <section>
    <h2>Answer</h2>
    <p>
        {% if error_message %}
            <span style="color: red;">{{ error_message }}</span>
        {% elif answer %}
            {{ answer }}
        {% else %}
            Please ask a question and press the "Ask" button.
        {% endif %}
    </p>

            </section>
    </article>
</main>
<footer>
    <p class="copyright">&copy; Python Tutor App</p>
</footer>
</body>

</html>

